/* Body */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Animasi untuk judul header */
header h1 {
    position: relative;
    top: 50px; /* Mulai dari posisi 50px di bawah */
    opacity: 0; /* Mulai dengan opacity 0 (tidak terlihat) */
    transform: translateY(-50px); /* Geser ke atas sebesar 50px */
    transition: transform 1s ease, opacity 1s ease; /* Efek transisi untuk transformasi dan opacity selama 1 detik dengan efek easing */
}

/* Atur ulang posisi dan opacity judul header saat hover */
header:hover h1 {
    transform: translateY(0); /* Kembalikan ke posisi asli */
    opacity: 1; /* Tampilkan judul dengan opacity 1 */
}

/* Main Content */
main {
    padding: 20px;
}

article {
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

article:hover {
    opacity: 1;
    transform: translateY(0);
}

article h2 {
    color: #333;
}

article p {
    color: #666;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* Efek hover pada menu navigasi */
nav ul li a:hover {
    color: #ff6347; /* Ganti warna pada hover */
    transition: color 0.3s ease; /* Efek transisi warna selama 0.3 detik dengan efek easing */
}
